@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100&display=swap');

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.titulo-destaque {
    color: #22D4FD;
}

* {
    margin: 0;
    padding: 0;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 15%;
}

.apresentacao-conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apresentacao-conteudo-titulo {
    font-size: 35px;
    font-family: 'Krona One', 'sans-serif';
}

.apresentacao-conteudo-texto {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    font-size: 24px;
    font-family: 'Montserrat', 'sans-serif';
}

.apresentacao-links {
    display: flex;
    justify-content: space-between;
}

.apresentacao-links-link {
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 20px 0;
    color: #000000;
    font-family: 'Krona One', 'sans-serif';
    text-decoration: none;
}

.apresentacao-img {
    margin-left: 4px;
    width: 300px;
    border-radius: 16px;
}